* {
    font-family: 'sans-serif';
}

body {
    background: radial-gradient(circle, #ea6dba, #312252);
}

p {
    color: rgb(255, 184, 243);
    text-align: justify;
}

mark {
    background-color: rgba(255, 0, 106, 0.473);
    color: rgb(0, 221, 255);
}

h1 {
    color: rgb(230, 239, 255);
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 50px;
    text-shadow: 2px 2px 4px rgb(255, 184, 243);
}

h2 {
    color: rgb(0, 221, 255);
    text-align: justify
}

h3 {
    color: rgb(255, 255, 255);
}

h4 {
    color: rgb(255, 184, 243);
}

abbr {
    color: rgb(0, 221, 255);
    font-size: 30px;
    font-weight: 550;

}

u {
    text-decoration: overline underline;
}

a {
    width: 200px;
    height: 300px;
}

#lady gaga {
    width: 400px;
    height: 300px;
}

#LadyGaga {
    width: 300px;
    height: 400px;
}

#Ladyy {
    width: 400px;
    transition: all 0.4s;
}

#Ladyy:hover {
    width: 500px;
    transform: rotate(10deg);
}

#Facts {
    text-align: center;
}

#Pokerr {
    display: flex;
    justify-content: center;
    margin: 50px;
    gap: 80px;
}